name: CI

on:
  push:
    branches: [ "main", "docs", "patch", "feature", "mplot" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Style and type linter, Coverage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check type annotation
        run: |
          mypy --ignore-missing-imports \
          --check-untyped-defs \
          --exclude=.*__init__\.py$ \
          scripts/utilities.py
      - name: pyflakes
        run: |
          pyflakes utilities.py
      - name: docstring
        run: |
          pydocstyle utilities.py
      - name: isort
        run: |
          isort utilities.py
      - name: black
        run: |
          black -l 88 utilities.py          
